<div id="statswrap">
    <div class="container">
        <div class="row">
            
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <p class="big-stat">36m</p>
                <p><span class="strong">Users per month</span><br>Audity of all our projects. Including Baikal, Monobrand and Ink.</p>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <p class="big-stat">1600</p>
                <p><span class="strong">Employees in 2015</span><br>Days a year, our product works correctly. You can always access the information you need no matter what.</p>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <p class="big-stat">2890</p>
                <p><span class="strong">Bottles of Bourbon</span><br>we can drink in a day. It’s kinda useless, but fun information about us.</p>
            </div>

        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /statswrap -->