<div id="footerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12">
                <img src="{{ "/assets/img/wampum-mark-color.svg" | prepend: site.baseurl }}" >
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                <p>© 2017 Wampei Inc All Rights Reserved</p>    
            </div>

            <div class="col-lg-4 col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-12 footer-nav">
                <a href="{{"/privacy/index.html" | prepend: site.baseurl }}">Privacy</a>
                <a href="{{"/blog/index.html" | prepend: site.baseurl }}">Blog</a>                		
                <a href="{{"/contact/index.html" | prepend: site.baseurl }}">Contact</a>	
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">		
                {% for network in site.social %}
                    <a href="{{ network.url }}" class="btn-social">
                        <i class="fa fa-{{ network.title }}" aria-hidden="true"></i>
                        <span class="sr-only">{{network.title}}</span>
                    </a>
                {% endfor %}
            </div>
            
        </div><! --/row -->
    </div><! --/container -->
</div><! --/footerwrap -->