<div id="founderswrap">
    <div class="container-fluid">
        <div class="row">
            
            <div class="col-md-6 col-md-offset-1 col-sm-12 col-xs-12 no-padding" >
               <div> <img src="{{ "/assets/img/RussellHeadshotClose.jpg" | prepend: site.baseurl }}" alt="wampum founders"/> </div>
            </div>

            <div class="col-md-9 col-sm-12 col-xs-12">
                <h2>Russell starts with "Why?"</h2>
                <p>In my previous roles with other companies, I worked with <strong>Banks</strong> (e.g., Bank of America, Bank of Hawaii, First Hawaiian Bank, Central Pacific Bank) and <strong>Merchant Processors</strong> (e.g., WorldPay, Verisign, Paypal, Cybersource.)  <br/><br/>One thing I can tell you about all of them is that they do not make things easy.  Typically, to work with banks and processors,  merchants have to jump through many hoops, comply with anachronistic policies and adhere to ancient protocols that are meant to provide cover for lawsuits but not provide real security for systems.
It is tough to work with these third parties, but if you want your business to accept electronic payments, merchants have not had an alternative. <strong>Until now</strong>.
</p>
            </div>

        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /founderswrap -->