<div id="founderswrap">
    <div class="container-fluid">
        <div class="row">
            
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 no-padding">
                <img src="{{ "/assets/img/companypic01.png" | prepend: site.baseurl }}" alt="wampum founders">
            </div>

            <div class="col-md-5 col-sm-12 col-xs-12">
                <h2>Something About One of the Founders</h2>
                <p>At the time, I knew very little about the Witnesses save for the few things people tend to repeat about them: that they don't vote, that they refuse blood transfusions, that they believe only a small, specific number of them will go to heaven.</p>
            </div>

        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /founderswrap -->