<div id="founderswrap">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 no-padding">
                    {% include youtubePlayer.html id="ADbVuZ5QOtg" %}
                </div>
                <div class="col-lg-6 col-md-5 col-sm-12 col-xs-12">
                    <h2>Payments from a merchant's perspective</h2>
                    <p>As a merchant, you want to be able to sell your products or services to as many customers as easily as possible.   Bitcoin is the most easily acquired cryptocurrency (Exchanges, Bitcoin ATMs, Bitcoin Tellers and Individuals.)  </p>
                </div>
    
            </div><!-- /row -->
        </div> <!-- /container -->
    </div><!-- /founderswrap -->
