<div id="founderswrap">
        <div class="container-fluid">
            <div class="row">
                
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 no-padding">
                    <img src="{{ "/assets/img/founders-product.png" | prepend: site.baseurl }}" alt="wampum founders">
                </div>
    
                <div class="col-md-5 col-sm-12 col-xs-12">
                    <h2>The Universe Through A Child’s Eyes</h2>
                    <p>Whether your business is 'high-risk,' has large average payment amounts or unbankable, you can leverage Wampum Register© to accept payments electronically.</p>
                </div>
    
            </div><!-- /row -->
        </div> <!-- /container -->
    </div><!-- /founderswrap -->