<div id="founderswrap">
    <div class="container-fluid">
        <div class="row">
            
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 no-padding">
                <img src="{{ "/assets/img/companypic01.png" | prepend: site.baseurl }}" alt="wampum founders">
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <p class="big-stat">1600</p>
                <p><span class="strong">Employees in 2015</span><br>Days a year, our product works correctly. You can always access the information you need no matter what.</p>
            </div>

        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /founderswrap -->