<div id="foundersvidwrap">
    <div class="container">
        <div class="row">

            <div class="col-md-5 col-sm-12 col-xs-12">
                <h2>Helping Talented Students Unlock Their Full Potential</h2>
                <p>We want to invest in the future, by investing in education. We are passionate for our country and care to see it progress. We can do this: By educating eager young learners with bright minds that can be found in every distant corner of the country. Those students will become our beacon and their accomplishments will reward us all.</p>
            </div>

            <div class="col-md-6 col-md-offset-1 col-sm-12 col-xs-12 no-padding">
                <img src="{{ "/assets/img/companyvid.png" | prepend: site.baseurl }}" alt="wampum founders">
            </div>

        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /founderswrap -->