<div id="goodcompany">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-sm-6 col-sm-offset-3">
                <h2>Connect with your customers</h2>
                <p>Millions of people around the world have already made a choice to use Bitcoin as their preferred payment method.  Isn't it time you allowed your customers to pay you without a third party? </p>


            </div>
            <div class="col-lg-8 col-lg-offset-2">
                <img src="{{ "/assets/img/ipad-landscape-example-hp.png" | prepend: site.baseurl }}" alt="">    
            </div>
            
            <br/><br/>
            <div class="btn-outline" valign="center">
		            <a href="https://app.smartsheet.com/b/form?EQBCT=9fd77772cf1a4661ad22a930b11f3e56">Get Started</a>
		    </div>	


        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /good company -->