<div id="goodcompany">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-sm-6 col-sm-offset-3">
                <h2>You’re in Good Company</h2>
                <p>Millions of people around the world have already made Wampum their source for eCommerce transactions.</p>
                <div class="btn-outline"><a href="#">Get Started</a></div>			
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/ipad-landscape-example-hp.png" | prepend: site.baseurl }}" alt="">    
            </div>

        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /good company -->