<div id="productwrap">
    <div class="container">
        <div class="row">
            
            <div class="col-lg-5 col-lg-offset-0 col-md-5 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-12">
                <h1>eCommerce simplified</h1>
                <p>At Wampei we believe that eCommerce technologies should be available to anyone doing  business. We help our customers accept Bitcoin payments with or without the use of a local bank.</p>
                
                <div class="btn-outline-blue"><a href="https://app.smartsheet.com/b/form?EQBCT=9fd77772cf1a4661ad22a930b11f3e56">Get Started</a></div>	
                
            </div>

            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <img src="{{ "/assets/img/products-hero-illustration.svg" | prepend: site.baseurl }}" >
            </div>

        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /productwrap -->