<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ "/assets/ico/favicon.ico" | prepend: site.baseurl }}">
    
    <link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/ico/apple-touch-icon.png" | prepend: site.baseurl }}" >
	<link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/ico/favicon-32x32.png" | prepend: site.baseurl }}" >
	<link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/ico/favicon-16x16.png" | prepend: site.baseurl }}" >
	<link rel="manifest" href="{{ "/assets/ico/manifest.json" | prepend: site.baseurl }}">
	<link rel="mask-icon" href="{{ "/assets/icosafari-pinned-tab.svg" | prepend: site.baseurl }}" color="#5bbad5 ">
	<meta name="theme-color" content="#ffffff ">

    <title>{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}</title>

	{% seo %}
    <!-- Bootstrap core CSS -->
    <link href="{{ "/assets/css/bootstrap.css" | prepend: site.baseurl }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ "/assets/css/font-awesome.min.css" | prepend: site.baseurl }}" rel="stylesheet">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">


    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-70441646-2"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', 'UA-70441646-2');
	</script>


</head>