<div id="companywrap">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-4 col-lg-offset-0 col-md-4 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-12">
                    <h1>Choose the best plan for you</h1>
                    <p>Sony laptops are among the most well known laptops on today’s market. Sony is a name that over time has established itself as creating a solid product with a stellar reputation.</p>
                </div>
    
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 product-card">
                    <div class="icon"><img src="{{ "/assets/img/Icon-register.png" | prepend: site.baseurl }}" alt="" height="72" width="72"></div>
                    <h4>Wampum Register</h4>
                    <p>Best options for freelancers</p>
                    <ul>
                        <li><p>1GB storage</p></li>
                        <li><p>2 integrations</p></li>
                        <li><p>10 prototypes</p></li>                        
                    </ul>
                    <p>$199 <span class="">/month</span></p>
                    <div class="btn-theme"><a href="#">Choose Plan</a></div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 product card">
                        
                </div>
        
            </div><!-- /row -->
        </div> <!-- /container -->
    </div><!-- /headerwrap -->