<div id="companywrap">
    <div class="container">
        <div class="row">
            
            <div class="col-lg-5 col-lg-offset-0 col-md-5 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-12">
                <h1>eCommerce for All</h1>
                <p>We believe that eCommerce tech should be available to all. We help our customers accept crypto payments with or without the use of a bank.</p>
            </div>

            <div class="col-lg-6 col-lg-offset-1 col-md-6 col-md-offset-1 col-sm-12 col-xs-12">
                <img src="{{ "/assets/img/ecommerce-for-all-illustration.svg" | prepend: site.baseurl }}" >
            </div>

        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->