<div id="newsletterwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <h3>Try Our Newsletter</h3>
                		
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                
                <form class="form-inline" name="conactForm" action="https://app.smartsheet.com/b/form"  >
					<input type="hidden" name="EQBCT"  value="9fd77772cf1a4661ad22a930b11f3e56"/>
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <button type="submit" onclick="location.href='https://app.smartsheet.com/b/form?EQBCT=9fd77772cf1a4661ad22a930b11f3e56';" class="btn btn-theme">Contact Us</button><br/><br/><br/>
                        </div>
                    </div>
                </form>

            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /newsletter -->