<div id="newsletterwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <h3>Try Our Newsletter</h3>
                <p>Already using Wampum? <a href="#">Sign In</a></p>			
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                <form class="form-inline">
                    <div class="form-group">
                        <input type="password" class="form-control input-lg" id="exampleInputPassword1" placeholder="Password">
                        <button type="submit" class="btn btn-theme">Get Started</button>
                    </div>
                </form>
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /newsletter -->