<div id="pagewrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>Effective: November, 2017</p>
                    <h5>Introduction</h5>
                    <p>Our privacy policy will help you understand what information we collect at Wampum, how Wampum uses it, and what choices you have.</p><<br>
                            
                            <p>When we talk about “Wampum,” “we,” “our,” or “us” in this policy, we are referring to Wampum Technologies, Inc., the company which provides the Services. When we talk about the “Services” in this policy, we are referring to our online workplace productivity tools and platform. Our Services are currently available for use via a web browser or applications specific to your desktop or mobile device, as further described in our Help Center.</p>
                    <p>Effective: November, 2017</p>
                </div><! --/col-lg-8 -->
            </div><! --/row -->
        </div><! --/container -->
    </div>