<div id="products-pointswrap">
    <div class="container">
        <div class="row">
            
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="icon"><img src="{{ "/assets/img/Icon-briefcase.png" | prepend: site.baseurl }}" alt="" height="44" width="40"></div> 
                <h3>Strong porfolios</h3>
                <p>People like a “special” price or exclusive offer directed only to them. Most Industrial and Manufacturing.</p>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="icon"><img src="{{ "/assets/img/Icon-chat.png" | prepend: site.baseurl }}" alt="" height="46" width="44"></div> 
                <h3>1 to 1 and group chats</h3>
                <p>Research in advertising is done in order to produce better advertisements that are more.</p>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="icon"><img src="{{ "/assets/img/Icon-email.png" | prepend: site.baseurl }}" alt="" height="48" width="38"></div> 
                <h3>Email notifications</h3>
                <p>You have just invested in a new vehicle, the one of your dreams, and you take it on a trip across Canada.</p>
            </div>

        </div><!-- /row -->
    </div> <!-- /container -->
    <div class="container">
            <div class="row">
                
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="icon"><img src="{{ "/assets/img/Icon-videoplayer.png" | prepend: site.baseurl }}" alt="" height="48" width="46"></div>
                    <h3>Easy to use</h3>
                    <p>Training usually takes 2 minutes to get your clerks up an running. ECommece plugins leverage the existing systems.</p>
                </div>
    
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="icon"><img src="{{ "/assets/img/Icon-image.png" | prepend: site.baseurl }}" alt="" height="49" width="39"></div> 
                    <h3>Stunning stock photos</h3>
                    <p>Issue invoices or bills to send your customers via email, mail, sms or fax.</p>
                </div>
    
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="icon"><img src="{{ "/assets/img/Icon-watch.png" | prepend: site.baseurl }}" alt="" height="36" width="48"></div> 
                    <h3>Apple watch ready</h3>
                    <p>WordPress, the premier free open-source blogging utility, has gone through several upgrades in its life.</p>
                </div>
    
            </div><!-- /row -->
        </div> <!-- /container -->
</div><!-- /pointswrap -->