<div id="product-analyticswrap">
        <div class="container-fluid">
            <div class="row">
                
                <div class="col-md-3 col-md-offset-2 col-sm-12 col-xs-12 no-padding">
                        <svg width="262px" height="262px" viewBox="0 0 262 262" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <!-- Generator: Sketch 47.1 (45422) - http://www.bohemiancoding.com/sketch -->
                            <title>pie chart@1.5x</title>
                            <desc>Created with Sketch.</desc>
                            <defs>
                                <path d="M131,262 C58.6506978,262 0,203.349302 0,131 C0,58.6506978 58.6506978,0 131,0 C203.349302,0 262,58.6506978 262,131 C262,203.349302 203.349302,262 131,262 Z M131,205 C171.869071,205 205,171.869071 205,131 C205,90.1309285 171.869071,57 131,57 C90.1309285,57 57,90.1309285 57,131 C57,171.869071 90.1309285,205 131,205 Z" id="path-1"></path>
                            </defs>
                            <g id="Page-2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="SL01-Pricing" transform="translate(-249.000000, -1020.000000)">
                                    <g id="block-4" transform="translate(-3.000000, 1020.000000)">
                                        <g id="pie-chart" transform="translate(252.000000, 0.000000)">
                                            <mask id="mask-2" fill="white">
                                                <use xlink:href="#path-1"></use>
                                            </mask>
                                            <use id="Combined-Shape" fill="#61DCC3" xlink:href="#path-1"></use>
                                            <rect id="Rectangle-4" fill="#1EC5A2" mask="url(#mask-2)" x="130" y="131" width="132" height="132"></rect>
                                            <polygon id="Rectangle-4-Copy" fill="#1CB292" mask="url(#mask-2)" points="2.328125 -0.00390625 262 0 262 132 130 132"></polygon>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>
                </div>
    
                <div class="col-md-5 col-sm-12 col-xs-12">
                    <h2>Detailed Purchase Analytics</h2>
                    <p>Do you want to download free song for ipod? If so, reading this article could save you from getting in to a lot of trouble! Downloading music to your Ipod has more than one pitfall associated with it, and this article will tell you the best way to download free song for Ipod.</p>
                </div>
    
            </div><!-- /row -->
        </div> <!-- /container -->
    </div><!-- /founderswrap -->