<div id="products-shotwrap">
        <div class="container-fluid">
            <div class="row">
                
                <div class="col-md-5 col-sm-12 col-xs-12">
                    <h2>Design &amp; Share</h2>
                    <p>Sharing your designs with others has never been this easy. Your team members and clients can comment on your uploaded screens and give you real-time feedback and suggestions. Of course, you will be notified each time they do.</p>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 no-padding">
                    <img src="{{ "/assets/img/app.png" | prepend: site.baseurl }}" alt="wampum founders">
                </div>

            </div><!-- /row -->
        </div> <!-- /container -->
    </div><!-- /founderswrap -->