<div id="products-shotwrap">
        <div class="container-fluid">
            <div class="row">
                
                <div class="col-md-5 col-sm-12 col-xs-12">
                    <h2>See for yourself</h2>
                    <p>Accepting Bitcoin is even faster than typical credit card processing, and the funds are always in you control and available in a few hours.  Watch as Russell and Charles show you how.</p>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 no-padding">
                    <a target="_new" href="https://youtu.be/5TwCVATBNLU"><img src="{{ "/assets/img/LocalJoeWampum.png" | prepend: site.baseurl }}" alt="wampum founders"></a
                </div>

            </div><!-- /row -->
        </div> <!-- /container -->
    </div><!-- /founderswrap -->