<div id="products-pointswrap">
    <div class="container">
        <div class="row">
            
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="icon"><img src="{{ "/assets/img/electronic-payments.svg" | prepend: site.baseurl }}" alt="" height="44" width="40"></div> 
                <h3>Electronic Payments</h3>
                <p>Accept cryptocurrency payments directly without a merchant account.</p>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="icon"><img src="{{ "/assets/img/reduce-cash.svg" | prepend: site.baseurl }}" alt="" height="46" width="44"></div> 
                <h3>Reduce Cash</h3>
                <p>Reduce the cash on hand for retail outlets that need to be secured and transported.</p>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="icon"><img src="{{ "/assets/img/payment-options.svg" | prepend: site.baseurl }}" alt="" height="48" width="38"></div> 
                <h3>Payment Options</h3>
                <p>Offer in-store, pre-payment, delivery and online ordering options.</p>
            </div>

        </div><!-- /row -->
    </div> <!-- /container -->
    <div class="container">
            <div class="row">
                
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="icon"><img src="{{ "/assets/img/fast-access-funds.svg" | prepend: site.baseurl }}" alt="" height="48" width="46"></div>
                    <h3>Fast access to funds</h3>
                    <p>Because cryptocurrency is used instead of a proprietary transfer mechanism, merchants get their money the same day as payment.  That is better than a credit card or cashless ATMs, and far superior to the pre-paid value card networks or closed loop payment systems.</p>
                </div>
    
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="icon"><img src="{{ "/assets/img/banking-not-required.svg" | prepend: site.baseurl }}" alt="" height="49" width="39"></div> 
                    <h3>Banking not required</h3>
                    <p>No bank accounts required for merchants or customers.</p>
                </div>
    
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="icon"><img src="{{ "/assets/img/open-software.svg" | prepend: site.baseurl }}" alt="" height="36" width="48"></div> 
                    <h3>Open Software</h3>
                    <p>Customers can use any modern mobile cryptocurrency wallet app to pay, not just one app used for a few businesses.</p>
                </div>
    
            </div><!-- /row -->
        </div> <!-- /container -->
</div><!-- /pointswrap -->